.allie-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.allie-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding-top: 80px;
  z-index: 1;
  .title-allie {
    font-family: $font-family-amatic;
    font-size: 10em;
    color: #fff;
    text-align: center;
  }
  .allie-pi {
    h2 {
      font-family: $font-family-baloo;
      letter-spacing: 2px;
      font-size: 1em;
      text-transform: uppercase;
      margin: 20px 0;
      text-align: center;
      span {
        color: $verde;
        padding: 0 10px;
      }
    }
  }
  .mouse {
      width: 22px;
      height: 42px;
      margin-top: 20px;
      margin-bottom: 20px;
      left: 50%;
      margin-left: -12px;
      border-radius: 15px;
      border: 2px solid $verde;
      -webkit-animation: intro 1s;
      animation: intro 1s;
  }

  .scroll {
      display: block;
      width: 3px;
      height: 3px;
      margin: 6px auto;
      border-radius: 4px;
      background: $verde;
      -webkit-animation: finger 2s infinite;
      animation: finger 2s infinite;
  }
}

// rect
.rec {
  position: absolute;
  max-width: 300px;
  animation-iteration-count: infinite;
}
.rec-1 {
  right: 200px;
  top: 320px;
  animation-name: rec-right-1;
  animation-duration: 50s;
}
.rec-2 {
  left: 100px;
  top: 400px;
  animation-name: rec-left-2;
  animation-duration: 60s;
}
.rec-3 {
  right: 100px;
  top: 600px;
  animation-name: rec-right-1;
  animation-duration: 70s;
}
.rec-4 {
  left: 250px;
  top: 100px;
  animation-name: rec-left-2;
  animation-duration: 40s;
}
.rec-5 {
  right: 100px;
  top: 140px;
  animation-name: rec-right-1;
  animation-duration: 40s;
}
@keyframes rec-right-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rec-left-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}


/* mouse effect */

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@media only screen and (max-width: 600px) {
  .allie-inside {
    max-width: 320px;
    padding-top: 10px;
    .title-allie {
      font-size: 8em;
    }
  }
  .rec {
    display: none;
  }
}
